src/main/resources/Wadl/manin-core.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:preq="http://www.techarha.com/schema/xsd/manin/ProductRequest"
             xmlns:pres="http://www.techarha.com/schema/xsd/manin/ProductResponse"
             xmlns:ureq="http://www.techarha.com/schema/xsd/manin/UserRequest"
             xmlns:ures="http://www.techarha.com/schema/xsd/manin/UserResponse"
             xmlns:flip="http://www.techarha.com/schema/xsd/manin/FlipkartResponse"
             xmlns:ireq="http://www.techarha.com/schema/xsd/manin/InventoryRequest"
             xmlns:ires="http://www.techarha.com/schema/xsd/manin/InventoryResponse">

    <grammars>
        <include href="../schema/InventoryRequest.xsd"/>
        <include href="../schema/InventoryResponse.xsd"/>
        <include href="../schema/UserRequest.xsd"/>
        <include href="../schema/UserResponse.xsd"/>
        <include href="../schema/FlipkartResponse.xsd"/>
        <include href="../schema/ProductRequest.xsd"/>
        <include href="../schema/ProductResponse.xsd"/>
    </grammars>
    <resources base="http://localhost:8080/manin/api/">

        <!-- ****************************************************************
        ************************ Flipkart Management ***************************
        *********************************************************************-->
        <resource path="/ManageFlipkart" id="FlipkartManagementService">

            <resource path="/getPayments">
                <method name="GET" id="getPaymentsDetails">
                    <doc xml:lang="en" title="Pulls all payments related data"/>
                    <response>
                        <representation mediaType="application/json" element="flip:FlipkartPaymentsResponse"/>
                    </response>
                </method>
            </resource>

            <resource path="/getSettlementsData">
                <method name="GET" id="getSettlementsData">
                    <doc xml:lang="en" title="Pulls all Settlements related data"/>
                    <response>
                        <representation mediaType="application/json" element="flip:FlipkartSettlements"/>
                    </response>
                </method>
            </resource>

            <resource path="/getOrders">
                <method name="GET" id="getOrderDetails">
                    <doc xml:lang="en" title="Pulls all Orders related data"/>
                    <response>
                        <representation mediaType="application/json" element="flip:FlipkartOrdersResponse"/>
                    </response>
                </method>
            </resource>

            <resource path="/pingFlipUser">
                <method name="GET" id="pingFlipUser">
                    <doc xml:lang="en" title="Ping if User service is live"/>
                    <response>
                        <representation mediaType="application/json" element="ures:pingUserResponse"/>
                    </response>
                </method>
            </resource>
        </resource>

        <!-- ****************************************************************
        ************************ Users Management ***************************
        *********************************************************************-->
        <resource path="/ManageUser" id="UserManagementService">

            <resource path="/addUser">
                <method name="POST" id="addUser">
                    <doc xml:lang="en" title="Add User To System"/>
                    <request>
                        <representation mediaType="application/json" element="ureq:addUserRequest"/>
                    </request>
                    <response>
                        <representation mediaType="application/json" element="ures:addUserResponse"/>
                    </response>
                </method>
            </resource>

            <resource path="/getAllUsers">
                <method name="POST" id="getAllUsers">
                    <doc xml:lang="en" title="fetches all users and their details"/>
                    <response>
                        <representation mediaType="application/json" element="ures:getAllUsersResponse"/>
                    </response>
                </method>
            </resource>

            <resource path="/getUserDetails">
                <method name="POST" id="getUserDetails">
                    <doc xml:lang="en" title="fetches details of a specific user"/>
                    <request>
                        <representation mediaType="application/json" element="ureq:getUserDetailsRequest"/>
                    </request>
                    <response>
                        <representation mediaType="application/json" element="ures:getUserDetailsResponse"/>
                    </response>
                </method>
            </resource>

            <resource path="/updateUserDetails">
                <method name="POST" id="updateUserDetails">
                    <doc xml:lang="en" title="update basic User Details"/>
                    <request>
                        <representation mediaType="application/json" element="ureq:updateUserDetailsRequest"/>
                    </request>
                    <response>
                        <representation mediaType="application/json" element="ures:updateUserDetailsResponse"/>
                    </response>
                </method>
            </resource>

            <resource path="/removeUser">
                <method name="POST" id="removeUser">
                    <doc xml:lang="en" title="removes User from system"/>
                    <request>
                        <representation mediaType="application/json" element="ureq:removeUserRequest"/>
                    </request>
                    <response>
                        <representation mediaType="application/json" element="ures:removeUserResponse"/>
                    </response>
                </method>
            </resource>


            <resource path="/pingUser">
                <method name="GET" id="pingUser">
                    <doc xml:lang="en" title="Ping if User service is live"/>
                    <response>
                        <representation mediaType="application/json" element="ures:pingUserResponse"/>
                    </response>
                </method>
            </resource>
        </resource>


        <!-- ****************************************************************
        *********************** Product Management **************************
        *********************************************************************-->
        <resource path="/ManageProduct" id="ManageProductsService">

            <resource path="/addProductDetails">
                <method name="POST" id="addProductDetails">
                    <doc xml:lang="en" title="Add basic Product Details"/>
                    <request>
                        <representation mediaType="application/json" element="preq:addProductDetailsRequest"/>
                    </request>
                    <response>
                        <representation mediaType="application/json" element="pres:addProductDetailsResponse"/>
                    </response>
                </method>
            </resource>

            <resource path="/addProductDetailsP">
                <method name="POST" id="addProductDetailsP">
                    <doc xml:lang="en" title="Add basic Product Details"/>
                    <response>
                        <representation mediaType="application/json" element="preq:addProductDetailsRequest"/>
                    </response>
                </method>
            </resource>

            <resource path="/addVariantDetails">
                <method name="POST" id="addVariantDetails">
                    <doc xml:lang="en" title="Add basic Product Details"/>
                    <request>
                        <representation mediaType="application/json" element="preq:addVariantDetailsRequest"/>
                    </request>
                    <response>
                        <representation mediaType="application/json" element="pres:addVariantDetailsResponse"/>
                    </response>
                </method>
            </resource>

            <resource path="/getProductDetails">
                <method name="GET" id="getProductDetails">
                    <doc xml:lang="en" title="get basic Product Details"/>
                    <request>
                        <representation mediaType="application/json" element="preq:getProductDetailsRequest"/>
                    </request>
                    <response>
                        <representation mediaType="application/json" element="pres:getProductDetailsResponse"/>
                    </response>
                </method>
            </resource>

            <resource path="/getVariantDetails">
                <method name="GET" id="getVariantDetails">
                    <doc xml:lang="en" title="get basic Variant Details"/>
                    <request>
                        <representation mediaType="application/json" element="preq:addVariantDetailsRequest"/>
                    </request>
                    <response>
                        <representation mediaType="application/json" element="pres:addVariantDetailsResponse"/>
                    </response>
                </method>
            </resource>

            <resource path="/updateProductDetails">
                <method name="POST" id="updateProductDetails">
                    <doc xml:lang="en" title="update basic Product Details"/>
                    <request>
                        <representation mediaType="application/json" element="preq:updateProductDetailsRequest"/>
                    </request>
                    <response>
                        <representation mediaType="application/json" element="pres:updateProductDetailsResponse"/>
                    </response>
                </method>
            </resource>

            <resource path="/updateVariantDetails">
                <method name="POST" id="updateVariantDetails">
                    <doc xml:lang="en" title="update basic Product Details"/>
                    <request>
                        <representation mediaType="application/json" element="preq:updateVariantDetailsRequest"/>
                    </request>
                    <response>
                        <representation mediaType="application/json" element="pres:updateVariantDetailsResponse"/>
                    </response>
                </method>
            </resource>

            <resource path="/ping">
                <method name="GET" id="ping">
                    <doc xml:lang="en" title="Ping if service is live"/>
                    <response>
                        <representation mediaType="application/json" element="pres:pingProductResponse"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>